{% extends "layout.html" %}

{% block title %}
    MelodyMaker
{% endblock %}

{% block main %}
    {% if session.user_id %}
        <div class="slide-container">
            <input type="range" class="slider" id="bpm" min="40" max="208" value="100">
            <p class="tempo">Tempo: <a id="bpm_num"></a> BPM</p>
            <!-- <p id="flash">test</p> -->
        </div>
        <br>
        <div>
            <form method=post enctype=multipart/form-data>
                <input type="file" name="file" id="fileAudio">
                <input type=submit value="Upload File">
            </form>
            <br>
            <audio id="player1" controls></audio>
        </div>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
        </div>
        <h3>Log</h3>
        <pre id="log"></pre>

        <audio id="player2" controls></audio>
        <input type="button" id="uploadButton" value="Upload Recording">
        <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
        <script src="{{ url_for('static',filename='WebAudioRecorder.min.js') }}"></script>
        <script src="{{ url_for('static',filename='recorder.js') }}"></script>
        <script src="{{ url_for('static',filename='main.js') }}"></script>
    {% else %}
        <p>
            Homepage for non-logged in users.
        </p>
        <a href="/register">Register</a>
    {% endif %}
{% endblock %}