{% extends "layout.html" %}

{% block title %}
    MelodyMaker
{% endblock %}

{% block main %}
    {% if session.user_id %}
        <div id="controls">
            <h3>Record Audio:</h3>
            <p><input type="text" placeholder="filename" id="filename"> .wav</p>
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
            <pre id="log"></pre>
            <audio id="player2" controls></audio>
            <br>
            <input type="button" id="uploadButton" value="Upload Recording">
        </div>
        <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
        <script src="{{ url_for('static',filename='WebAudioRecorder.min.js') }}"></script>
        <script src="{{ url_for('static',filename='recorder.js') }}"></script>
        <script src="{{ url_for('static',filename='main.js') }}"></script>
    {% else %}
        <p>
            Homepage for non-logged in users.
        </p>
        <a href="/register">Register</a>
    {% endif %}
{% endblock %}